{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %} 

{% block head_title %}
Datos Operativos
{% endblock %}

{% block extra_head %}
<script src="{% static 'data.js' %}"></script>
{% endblock %}




{% block content %}
    {% if user.is_authenticated %}
        <table class="ui table">
            <tbody>
                <thead>
                    <th scope="col">Tu perfil.</th>
                </thead> 
                <tr>
                    <td>Nombre</td>
                    <td>{{user.first_name}}</td>
                </tr>
                <tr>
                    <td>Apellido</td>
                    <td>{{user.last_name}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{user.email}}</td>
                </tr>  
                <tr>
                    <td id="csrf"> Lista Pendientes</td>
                    <td><button class="btn btn-primary btn-sm" data-page="Pendientes"> Ver! </button></td>
                </tr>  
                <tr>
                    <td>Lista de Compras pendientes</td>
                    <td><button class="btn btn-primary btn-sm" data-page="Inventario"> Ver! </button></td>
                </tr> 
                <tr>
                    <td id="csrf"> Nuevo Pendiente</td>
                    <td><button class="btn btn-primary btn-sm" data-page="PForm"> Registrar! </button></td>
                </tr>  
                <tr>
                    <td>Nueva Compra</td>
                    <td><button class="btn btn-primary btn-sm" data-page="IForm"> Registrar! </button></td>
                </tr>                          
            </tbody>  
        </table>

    {% else %}  

        <h1>Registrate!</h1>

    {% endif %}   

<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-sm-10">
            <div id="Pendientes">              
                <h5> {{tasks_missing.count}} pendientes,  {{ tasks.count }} totales. </h5>  
                {% if tasks.count %}
                <h2> PENDIENTES </h2>
                <div id="task_list"></div> 
                {% else %} 
                <h2> NOY HAY PENDIENTES </h2>
                {% endif %}  
            </div>   

            <div id="Inventario">
                <h5> Total: {{ carts.count }}. </h5>
                {% if carts.count %}
                <h2> Inventario</h2>
                <div id="inventory_list"></div> 
                {% else %} 
                <h2> NOY HAY INVENTARIO </h2>
                {% endif %}  
            </div>  
            
            <div id="PForm">  
                    <h1>Add Task:</h1>
                    <form action="{% url 'tasks:add' %}" method="post">
                        {% csrf_token %}
                        {{ formT.as_p|crispy }}
                        <input type="submit">
                    </form>
                    <a href="{% url 'home' %}">Home</a> 
            </div> 
            <div id="IForm">  
                    <h1>Add Shopping Item:</h1>
                    <form action="{% url 'inventory:add' %}" method="post">
                        {% csrf_token %}
                        {{ formI.as_p|crispy }}
                        <input type="submit">
                    </form>
                    <a href="{% url 'home' %}">Home</a> 
            </div> 



        </div>
    </div>
</div>

<p>{% csrf_token %}</p>


{% endblock %}   
