{% extends "layout.html" %}
{% load static %}

{% block head_title %}
Home
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

{% endblock %}    

{% block content %}

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-9">
            <h3> Las Mirlas</h3>
            <p> Ubicacion: Km 2.5 Siberia via Tenjo Parcelacion Puente Pierdra</p>
        </div>
        {% if user.is_authenticated %}
        <div class="col-5" >
            <video class="img-fluid" controls  autoplay poster="{% static 'logo.png' %}">
            <source src="{% static 'LasMirlas.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
            </video>     
        </div>
        {% else %}    
        <div class="col-5" >
            <img src="{% static 'logo.png' %}" alt="Logo" class="rounded">   
        </div> 
        {% endif %}  
    </div>           
</div>

</br>
</br>


<div class="container">
    <div class="row align-items-start">
        <div class="col-sm-auto">
            <div class="card">
                <div class="card-header">
                    Categories
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'photo:gallery' %}">All</a>
                    </li>
                    {% for category in categories %}
                    <li class=" list-group-item">
                        <a href="{% url 'photo:gallery' %}?category={{category.name}}">
                            {{category.name}}
                        </a>
                    </li>
                    {% endfor %}
                    <a href="{% url 'photo:add' %}" class="btn btn-dark btn-block btn-sm m-1">Sube fotos!</a>
                </ul>
            </div>
        </div>
        {% for photo in photos %}
        <div class="col-sm-auto">
            <div class="card my-2">
                <img class="image-thumbail" src="{{photo.image.url}}" alt="Card image cap">
                <div class="card-body">
                    <small>Category: {{photo.category.name}}</small>
                </div>
                <a href="{% url 'photo:photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'photo:gallery' page=1 %}">&laquo; first</a></li>
                    {% comment %} <li class="page-item"><a class="page-link" href="{% url 'photo:gallery' page={{page_obj.previous_page_number}} %}">previous</a></li> {% endcomment %}
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                    {% comment %} <li class="page-item"><a class="page-link" href="{% url 'photo:gallery' page={{page_obj.next_page_number}} %}">next</a></li>
                    <li class="page-item"><a class="page-link" href="{% url 'photo:gallery' page={{page_obj.paginator.num_pages}} %}">last &raquo;</a></li> {% endcomment %}
                    {% endif %}
                </span>
            </ul>
          </nav>
        {% empty %}
        <div class="col-6">
            <h3>No photos...</h3>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container text-center">
    <div class="row align-items-end">
      <div class="col align-self-center">
        <p> Ubicacion: Km 2.5 Siberia via Tenjo Parcelacion Puente Pierdra</p>
      </div>
    </div>
</div>

{% endblock %}   
        
